In [1]:
import pandas as pd
import numpy as np

In [2]:
df_hoteles = pd.read_csv('./data/hoteles-entrena.csv')

In [3]:
df_hoteles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52981 entries, 0 to 52980
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           52981 non-null  object
 1   lead_time                       52981 non-null  int64
 2   stays_in_weekend_nights         52981 non-null  int64
 3   stays_in_week_nights            52981 non-null  int64
 4   adults                          52981 non-null  int64
 5   children                        52981 non-null  object
 6   meal                            52981 non-null  object
 7   country                         52681 non-null  object
 8   market_segment                  52981 non-null  object
 9   distribution_channel            52981 non-null  object
 10  is_repeated_guest               52981 non-null  int64
 11  previous_cancellations          52981 non-null  int64
 12  previous_bookings_not_canceled  52981 non-null  int64
 13  reserved_room_type              52981 non-null  object
 14  assigned_room_type              52981 non-null  object
 15  booking_changes                 52981 non-null  int64
 16  deposit_type                    52981 non-null  object
 17  agent                           44338 non-null  float64
 18  company                         3939 non-null   float64
 19  days_in_waiting_list            52981 non-null  int64
 20  customer_type                   52981 non-null  object
 21  average_daily_rate              52981 non-null  float64
 22  required_car_parking_spaces     52981 non-null  object
 23  total_of_special_requests       52981 non-null  int64
 24  arrival_date                    52981 non-null  object
dtypes: float64(3), int64(10), object(12)
memory usage: 10.1+ MB

### Entendiendo las variables

Vamos a hacer un pequeño análisis exploratorio de los datos, empezando por entender los valores de las diferentes variables.

In [4]:
# Identificamos las variables categóricas (tipo object)
categorical_columns = df_hoteles.select_dtypes(include=['object']).columns
print(f"Variables categóricas encontradas: {len(categorical_columns)}")
print(f"Nombres: {list(categorical_columns)}")
print("\n" + "="*60)
print("NÚMERO DE CATEGORÍAS POR VARIABLE:")
print("="*60)

# Para cada variable categórica, contamos cuántas categorías únicas tiene
for col in categorical_columns:
    unique_count = df_hoteles[col].nunique()
    print(f"{col:30} | {unique_count:4} categorías")
    
print("\n" + "="*60)
print("DETALLE DE LAS CATEGORÍAS:")
print("="*60)

# Mostramos las categorías de cada variable
for col in categorical_columns:
    print(f"\n{col.upper()}:")
    unique_values = df_hoteles[col].unique()
    print(f"  Categorías ({len(unique_values)}): {list(unique_values)}")
    
    # Si hay valores nulos, los mostramos
    null_count = df_hoteles[col].isnull().sum()
    if null_count > 0:
        print(f"  Valores nulos: {null_count}")

Variables categóricas encontradas: 12
Nombres: ['hotel', 'children', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'required_car_parking_spaces', 'arrival_date']

============================================================
NÚMERO DE CATEGORÍAS POR VARIABLE:
============================================================
hotel                          |    2 categorías
children                       |    2 categorías
meal                           |    5 categorías
country                        |  146 categorías
market_segment                 |    7 categorías
distribution_channel           |    5 categorías
reserved_room_type             |    9 categorías
assigned_room_type             |   10 categorías
deposit_type                   |    3 categorías
customer_type                  |    4 categorías
required_car_parking_spaces    |    2 categorías
arrival_date                   |  793 categorías

============================================================
DETALLE DE LAS CATEGORÍAS:
============================================================

HOTEL:
  Categorías (2): ['Resort_Hotel', 'City_Hotel']

CHILDREN:
  Categorías (2): ['none', 'children']

MEAL:
  Categorías (5): ['BB', 'FB', 'HB', 'SC', 'Undefined']

COUNTRY:
  Categorías (147): ['PRT', 'GBR', 'IRL', nan, 'ESP', 'ROU', 'NOR', 'OMN', 'ARG', 'USA', 'POL', 'DEU', 'BEL', 'FRA', 'CHE', 'CN', 'GRC', 'ITA', 'DNK', 'RUS', 'SWE', 'AUS', 'FIN', 'MOZ', 'LUX', 'NLD', 'BRA', 'SVN', 'ALB', 'CHN', 'MEX', 'MAR', 'UKR', 'PRI', 'SRB', 'IND', 'CHL', 'EST', 'LVA', 'BLR', 'AUT', 'TUR', 'ZAF', 'AGO', 'ISR', 'LTU', 'CPV', 'DZA', 'CZE', 'KOR', 'CRI', 'HUN', 'HRV', 'IRN', 'CYP', 'NZL', 'IDN', 'KAZ', 'THA', 'DOM', 'MKD', 'NGA', 'VEN', 'GIB', 'ARM', 'JPN', 'LKA', 'CUB', 'COL', 'CMR', 'MYS', 'BIH', 'MUS', 'COM', 'SUR', 'JAM', 'CIV', 'JOR', 'SYR', 'PHL', 'BDI', 'URY', 'SAU', 'SGP', 'KWT', 'AND', 'VNM', 'PLW', 'ARE', 'QAT', 'EGY', 'PER', 'MDV', 'MLT', 'SVK', 'MWI', 'ECU', 'MDG', 'ISL', 'CAF', 'UZB', 'ZWE', 'BGR', 'BHS', 'PAK', 'MAC', 'TGO', 'TWN', 'HKG', 'DJI', 'GEO', 'STP', 'TUN', 'AZE', 'LBN', 'KNA', 'ETH', 'IRQ', 'RWA', 'LIE', 'PAN', 'BFA', 'MCO', 'LBY', 'GNB', 'BGD', 'BHR', 'NAM', 'BOL', 'BRB', 'ABW', 'SLV', 'SEN', 'ATA', 'GAB', 'MNE', 'GTM', 'GHA', 'ASM', 'KEN', 'PRY', 'MRT', 'NCL', 'KIR', 'SDN', 'TJK', 'FRO']
  Valores nulos: 300

MARKET_SEGMENT:
  Categorías (7): ['Direct', 'Corporate', 'Online_TA', 'Offline_TA/TO', 'Groups', 'Complementary', 'Aviation']

DISTRIBUTION_CHANNEL:
  Categorías (5): ['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS']

RESERVED_ROOM_TYPE:
  Categorías (9): ['C', 'A', 'D', 'E', 'G', 'F', 'H', 'L', 'B']

ASSIGNED_ROOM_TYPE:
  Categorías (10): ['C', 'A', 'D', 'E', 'G', 'F', 'B', 'H', 'I', 'K']

DEPOSIT_TYPE:
  Categorías (3): ['No_Deposit', 'Refundable', 'Non_Refund']

CUSTOMER_TYPE:
  Categorías (4): ['Transient', 'Contract', 'Transient-Party', 'Group']

REQUIRED_CAR_PARKING_SPACES:
  Categorías (2): ['none', 'parking']

ARRIVAL_DATE:
  Categorías (793): ['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11', '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15', '2015-07-16', '2015-07-17', '2015-07-18', '2015-07-19', '2015-07-20', '2015-07-21', '2015-07-22', '2015-07-23', '2015-07-24', '2015-07-25', '2015-07-26', '2015-07-27', '2015-07-28', '2015-07-29', '2015-07-30', '2015-07-31', '2015-08-01', '2015-08-02', '2015-08-03', '2015-08-04', '2015-08-05', '2015-08-06', '2015-08-07', '2015-08-08', '2015-08-09', '2015-08-10', '2015-08-11', '2015-08-12', '2015-08-13', '2015-08-14', '2015-08-15', '2015-08-16', '2015-08-17', '2015-08-18', '2015-08-19', '2015-08-20', '2015-08-21', '2015-08-22', '2015-08-23', '2015-08-24', '2015-08-25', '2015-08-26', '2015-08-27', '2015-08-28', '2015-08-29', '2015-08-30', '2015-08-31', '2015-09-01', '2015-09-02', '2015-09-03', '2015-09-04', '2015-09-05', '2015-09-06', '2015-09-07', '2015-09-08', '2015-09-09', '2015-09-10', '2015-09-11', '2015-09-12', '2015-09-13', '2015-09-14', '2015-09-15', '2015-09-16', '2015-09-17', '2015-09-18', '2015-09-19', '2015-09-20', '2015-09-21', '2015-09-22', '2015-09-23', '2015-09-24', '2015-09-25', '2015-09-26', '2015-09-27', '2015-09-28', '2015-09-29', '2015-09-30', '2015-10-01', '2015-10-02', '2015-10-03', '2015-10-04', '2015-10-05', '2015-10-06', '2015-10-07', '2015-10-08', '2015-10-09', '2015-10-10', '2015-10-11', '2015-10-12', '2015-10-13', '2015-10-14', '2015-10-15', '2015-10-16', '2015-10-17', '2015-10-18', '2015-10-19', '2015-10-20', '2015-10-21', '2015-10-22', '2015-10-23', '2015-10-24', '2015-10-25', '2015-10-26', '2015-10-27', '2015-10-28', '2015-10-29', '2015-10-30', '2015-10-31', '2015-11-01', '2015-11-02', '2015-11-03', '2015-11-04', '2015-11-05', '2015-11-06', '2015-11-07', '2015-11-08', '2015-11-09', '2015-11-10', '2015-11-11', '2015-11-12', '2015-11-13', '2015-11-14', '2015-11-15', '2015-11-16', '2015-11-17', '2015-11-18', '2015-11-19', '2015-11-20', '2015-11-21', '2015-11-23', '2015-11-24', '2015-11-25', '2015-11-26', '2015-11-27', '2015-11-28', '2015-11-30', '2015-12-01', '2015-12-02', '2015-12-03', '2015-12-04', '2015-12-05', '2015-12-06', '2015-12-07', '2015-12-10', '2015-12-11', '2015-12-12', '2015-12-14', '2015-12-15', '2015-12-17', '2015-12-18', '2015-12-19', '2015-12-20', '2015-12-21', '2015-12-22', '2015-12-23', '2015-12-24', '2015-12-25', '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31', '2016-01-01', '2016-01-02', '2016-01-06', '2016-01-08', '2016-01-09', '2016-01-12', '2016-01-13', '2016-01-14', '2016-01-22', '2016-01-25', '2016-01-26', '2016-01-29', '2016-02-01', '2016-02-03', '2016-02-05', '2016-02-08', '2016-02-09', '2016-02-10', '2016-02-11', '2016-02-12', '2016-02-13', '2016-02-14', '2016-02-15', '2016-02-16', '2016-02-17', '2016-02-19', '2016-02-20', '2016-02-22', '2016-02-25', '2016-02-26', '2016-02-27', '2016-03-02', '2016-03-03', '2016-03-07', '2016-03-08', '2016-03-13', '2016-03-15', '2016-03-16', '2016-03-17', '2016-03-18', '2016-03-19', '2016-03-20', '2016-03-21', '2016-03-22', '2016-03-24', '2016-03-25', '2016-03-28', '2016-03-29', '2016-03-30', '2016-03-31', '2016-04-01', '2016-04-02', '2016-04-03', '2016-04-04', '2016-04-05', '2016-04-08', '2016-04-10', '2016-04-11', '2016-04-12', '2016-04-16', '2016-04-17', '2016-04-18', '2016-04-21', '2016-04-22', '2016-04-23', '2016-04-24', '2016-04-26', '2016-04-30', '2016-05-01', '2016-05-02', '2016-05-03', '2016-05-05', '2016-05-06', '2016-05-07', '2016-05-08', '2016-05-09', '2016-05-10', '2016-05-11', '2016-05-12', '2016-05-13', '2016-05-14', '2016-05-15', '2016-05-16', '2016-05-17', '2016-05-19', '2016-05-20', '2016-05-21', '2016-05-22', '2016-05-23', '2016-05-24', '2016-05-25', '2016-05-26', '2016-05-27', '2016-05-28', '2016-05-29', '2016-05-30', '2016-05-31', '2016-06-01', '2016-06-02', '2016-06-03', '2016-06-04', '2016-06-06', '2016-06-07', '2016-06-08', '2016-06-10', '2016-06-11', '2016-06-12', '2016-06-13', '2016-06-15', '2016-06-16', '2016-06-17', '2016-06-18', '2016-06-19', '2016-06-20', '2016-06-21', '2016-06-22', '2016-06-23', '2016-06-24', '2016-06-25', '2016-06-26', '2016-06-27', '2016-06-28', '2016-06-29', '2016-07-01', '2016-07-02', '2016-07-04', '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-09', '2016-07-10', '2016-07-11', '2016-07-12', '2016-07-13', '2016-07-14', '2016-07-18', '2016-07-20', '2016-07-21', '2016-07-24', '2016-07-25', '2016-07-27', '2016-07-28', '2016-07-29', '2016-07-30', '2016-08-01', '2016-08-02', '2016-08-08', '2016-08-09', '2016-08-10', '2016-08-12', '2016-08-15', '2016-08-19', '2016-08-21', '2016-08-24', '2016-08-26', '2016-08-27', '2016-08-29', '2016-08-30', '2016-08-31', '2016-09-01', '2016-09-02', '2016-09-03', '2016-09-04', '2016-09-05', '2016-09-06', '2016-09-07', '2016-09-08', '2016-09-09', '2016-09-10', '2016-09-12', '2016-09-13', '2016-09-14', '2016-09-15', '2016-09-16', '2016-09-18', '2016-09-19', '2016-09-20', '2016-09-21', '2016-09-23', '2016-09-26', '2016-09-27', '2016-09-29', '2016-10-03', '2016-10-06', '2016-10-07', '2016-10-08', '2016-10-09', '2016-10-11', '2016-10-12', '2016-10-13', '2016-10-14', '2016-10-16', '2016-10-19', '2016-10-20', '2016-10-21', '2016-10-25', '2016-10-26', '2016-10-29', '2016-11-18', '2016-12-06', '2017-01-25', '2017-03-02', '2017-04-21', '2017-04-27', '2017-05-15', '2017-08-17', '2016-01-18', '2017-02-20', '2016-02-02', '2016-11-14', '2017-01-17', '2016-04-06', '2017-08-01', '2016-10-24', '2017-04-18', '2016-07-15', '2017-07-15', '2016-09-22', '2017-06-05', '2016-12-31', '2017-04-15', '2017-07-21', '2016-02-23', '2016-11-07', '2016-02-04', '2016-11-10', '2017-01-16', '2016-11-09', '2016-12-14', '2017-03-14', '2017-05-30', '2017-01-23', '2017-03-29', '2017-06-01', '2017-04-20', '2016-11-08', '2017-04-26', '2017-06-23', '2017-04-13', '2017-07-28', '2016-02-06', '2016-11-15', '2016-02-18', '2017-07-01', '2017-03-28', '2016-01-19', '2017-01-24', '2017-02-13', '2017-02-21', '2017-05-31', '2017-08-29', '2016-04-27', '2017-04-05', '2017-06-20', '2017-05-08', '2016-04-28', '2016-09-24', '2016-01-23', '2016-12-23', '2017-06-10', '2016-03-10', '2016-07-19', '2017-02-07', '2017-02-08', '2017-03-15', '2017-03-30', '2017-04-12', '2017-06-07', '2016-10-18', '2016-10-31', '2016-11-03', '2016-01-27', '2017-01-09', '2017-01-31', '2017-07-11', '2017-04-04', '2017-02-22', '2015-12-09', '2016-08-05', '2017-04-09', '2016-04-25', '2016-09-17', '2017-05-24', '2016-12-28', '2017-02-01', '2017-03-01', '2017-03-21', '2017-04-17', '2017-04-11', '2016-02-24', '2016-02-29', '2017-01-21', '2016-11-28', '2017-02-14', '2017-06-22', '2016-11-22', '2017-01-07', '2017-05-02', '2016-07-17', '2016-12-02', '2016-08-11', '2016-01-20', '2015-12-16', '2016-01-05', '2016-07-08', '2016-11-29', '2016-12-05', '2017-02-15', '2017-02-24', '2017-01-19', '2016-01-15', '2016-04-15', '2017-01-26', '2016-03-09', '2016-06-09', '2016-10-02', '2016-10-10', '2016-10-28', '2016-12-12', '2017-03-07', '2017-03-13', '2016-12-08', '2016-12-30', '2017-03-04', '2017-03-16', '2016-01-28', '2017-05-23', '2016-10-17', '2017-02-25', '2017-01-27', '2016-06-30', '2016-07-26', '2016-11-04', '2016-05-04', '2017-01-29', '2017-01-30', '2017-07-23', '2017-07-08', '2017-08-06', '2017-08-21', '2017-07-02', '2017-07-03', '2017-01-05', '2017-06-15', '2016-06-14', '2017-02-16', '2017-08-22', '2016-03-14', '2016-01-04', '2016-11-16', '2017-01-18', '2017-03-06', '2017-02-10', '2016-04-07', '2016-12-15', '2017-02-06', '2016-12-17', '2017-05-06', '2016-11-19', '2016-12-11', '2017-05-04', '2017-07-09', '2017-08-13', '2017-04-24', '2016-08-20', '2016-12-10', '2016-08-13', '2017-08-11', '2016-11-21', '2016-09-11', '2017-05-22', '2016-11-24', '2016-11-30', '2017-08-25', '2016-04-09', '2017-02-17', '2017-03-05', '2017-04-22', '2017-04-30', '2016-12-13', '2016-10-05', '2017-03-23', '2017-06-11', '2017-08-12', '2017-04-14', '2017-03-20', '2017-06-09', '2016-03-01', '2016-01-21', '2017-05-29', '2017-08-03', '2017-03-08', '2017-01-06', '2017-01-28', '2017-02-26', '2017-06-06', '2017-06-16', '2017-07-22', '2017-08-07', '2017-01-02', '2017-05-16', '2017-05-05', '2016-08-06', '2016-10-30', '2017-08-26', '2017-06-26', '2016-11-23', '2016-12-20', '2016-01-11', '2016-04-13', '2016-04-14', '2016-04-20', '2016-10-27', '2017-01-10', '2016-07-16', '2017-05-09', '2016-01-07', '2017-01-11', '2016-11-02', '2016-08-03', '2016-09-25', '2017-04-03', '2016-12-27', '2016-03-11', '2016-02-07', '2017-06-27', '2017-04-02', '2015-11-22', '2017-05-28', '2017-02-18', '2016-11-12', '2017-03-18', '2016-03-04', '2017-02-03', '2015-11-29', '2016-12-16', '2016-03-12', '2017-05-12', '2015-12-08', '2015-12-13', '2017-06-28', '2016-11-17', '2016-11-25', '2017-02-12', '2016-10-01', '2017-06-03', '2017-01-14', '2017-06-30', '2016-01-03', '2017-01-03', '2016-01-10', '2017-01-08', '2017-02-23', '2016-03-23', '2017-01-13', '2017-02-19', '2016-01-16', '2016-11-05', '2016-01-17', '2017-03-31', '2016-11-26', '2017-05-10', '2016-01-24', '2016-04-19', '2017-02-02', '2016-01-30', '2016-01-31', '2017-03-27', '2017-03-10', '2017-02-05', '2017-04-07', '2016-02-21', '2017-04-06', '2016-02-28', '2017-01-04', '2016-03-05', '2017-05-01', '2016-03-06', '2017-05-17', '2017-03-19', '2016-04-29', '2017-01-12', '2016-03-26', '2017-04-10', '2016-08-23', '2016-03-27', '2017-02-11', '2016-07-22', '2017-06-08', '2016-09-28', '2016-12-22', '2017-05-13', '2017-02-09', '2017-02-27', '2017-04-23', '2017-03-22', '2016-05-18', '2016-08-17', '2017-06-12', '2017-07-12', '2017-08-23', '2017-07-16', '2017-03-09', '2017-03-11', '2016-07-31', '2017-05-07', '2016-06-05', '2016-10-23', '2017-06-17', '2017-04-08', '2017-06-29', '2016-07-03', '2017-06-21', '2017-05-25', '2017-03-17', '2017-07-20', '2016-07-23', '2016-10-22', '2017-08-15', '2017-04-19', '2016-08-04', '2017-08-10', '2016-08-07', '2016-08-25', '2016-08-14', '2016-08-16', '2016-08-18', '2016-08-22', '2017-08-18', '2017-08-24', '2017-08-20', '2016-08-28', '2017-08-08', '2017-08-27', '2017-04-29', '2017-05-26', '2016-09-30', '2017-04-28', '2016-10-04', '2016-10-15', '2016-12-24', '2016-12-26', '2016-11-01', '2016-11-06', '2016-11-11', '2016-11-13', '2017-01-20', '2016-11-20', '2016-11-27', '2016-12-01', '2016-12-03', '2016-12-04', '2016-12-07', '2017-01-15', '2016-12-09', '2016-12-21', '2016-12-18', '2016-12-19', '2017-05-03', '2017-07-24', '2016-12-29', '2016-12-25', '2017-01-01', '2017-01-22', '2017-03-25', '2017-02-28', '2017-02-04', '2017-04-25', '2017-08-31', '2017-03-03', '2017-03-12', '2017-03-26', '2017-03-24', '2017-07-26', '2017-04-01', '2017-07-05', '2017-04-16', '2017-05-11', '2017-05-14', '2017-05-18', '2017-05-20', '2017-05-19', '2017-05-21', '2017-05-27', '2017-06-02', '2017-06-04', '2017-06-13', '2017-06-14', '2017-06-18', '2017-06-19', '2017-06-24', '2017-06-25', '2017-08-28', '2017-07-04', '2017-07-06', '2017-07-07', '2017-07-10', '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19', '2017-07-25', '2017-07-27', '2017-07-29', '2017-07-30', '2017-07-31', '2017-08-02', '2017-08-04', '2017-08-05', '2017-08-09', '2017-08-14', '2017-08-16', '2017-08-19', '2017-08-30']

In [5]:
#Describimos las variables numéricas con media, std, min, max, y percentiles
df_hoteles.describe().T

,count,mean,std,min,25%,50%,75%,max
lead_time,52981.0,79.968913,90.959584,0.00,9.00,45.00,124.0,737.0
stays_in_weekend_nights,52981.0,0.928559,0.988730,0.00,0.00,1.00,2.0,18.0
stays_in_week_nights,52981.0,2.463544,1.907669,0.00,1.00,2.00,3.0,42.0
adults,52981.0,1.828901,0.511329,0.00,2.00,2.00,2.0,4.0
is_repeated_guest,52981.0,0.043223,0.203361,0.00,0.00,0.00,0.0,1.0
previous_cancellations,52981.0,0.016176,0.280051,0.00,0.00,0.00,0.0,13.0
previous_bookings_not_canceled,52981.0,0.201959,1.825034,0.00,0.00,0.00,0.0,72.0
booking_changes,52981.0,0.293822,0.732195,0.00,0.00,0.00,0.0,20.0
agent,44338.0,94.409310,114.380340,1.00,9.00,14.00,240.0,535.0
company,3939.0,191.722265,132.407868,6.00,51.00,192.00,270.0,541.0
days_in_waiting_list,52981.0,1.594647,14.932899,0.00,0.00,0.00,0.0,379.0
average_daily_rate,52981.0,100.024187,49.279229,-6.38,67.22,92.65,125.0,510.0
total_of_special_requests,52981.0,0.714728,0.835084,0.00,0.00,1.00,1.0,5.0

#### Pequeñas modificaciones en variables

In [6]:
#Convertir la variable objetivo a numérica
df_hoteles['children'] = df_hoteles['children'].map({'children': 1, 'none': 0})
df_hoteles['children'].head()

0    0
1    0
2    0
3    0
4    0
Name: children, dtype: int64

In [7]:

#Nulos en country
df_hoteles['country'] = df_hoteles['country'].fillna('Unknown')

#Fecha de llegada: Convertimos a datetime 
df_hoteles['arrival_date'] = pd.to_datetime(df_hoteles['arrival_date'], format='%Y-%m-%d')
#Extraemos el mes de llegada
df_hoteles['arrival_month'] = df_hoteles['arrival_date'].dt.month
#Extraemos año
df_hoteles['arrival_year'] = df_hoteles['arrival_date'].dt.year
#Extraemos día de la semana
df_hoteles['arrival_dayofweek'] = df_hoteles['arrival_date'].dt.dayofweek

#Para el primer análisis usaremos arrival_month.

### Primer intento

Utilizaremos sólo algunas variables numéricas como `lead_time`, `stays_in_weekend_nights`, `stays_in_week_nights`, `adults`, `arrival_month`,`hotel`,`meal`.

De todas ellas, sólo hotel y meal son categóricas, con pocas categorías.

In [8]:
#Codificamos categorías. 
X = df_hoteles[['lead_time','stays_in_weekend_nights','stays_in_week_nights',
                'adults','arrival_month','hotel','meal']]
X = pd.get_dummies(X, columns=['hotel','meal'], drop_first=True)
y = df_hoteles['children']

In [9]:
#conjunto de entrenamiento y test
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model_cw = LogisticRegression(max_iter=1000,  class_weight='balanced')
model_cw.fit(X_train, y_train)

y_pred = model_cw.predict(X_test)
print(classification_report(y_test,y_pred, zero_division=0))

              precision    recall  f1-score   support

           0       0.96      0.43      0.59      9716
           1       0.11      0.80      0.20       881

    accuracy                           0.46     10597
   macro avg       0.54      0.61      0.39     10597
weighted avg       0.89      0.46      0.56     10597

In [10]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Crear SMOTE
smote = SMOTE(random_state=42)

# Ajustar y transformar SOLO en entrenamiento
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

print("Antes del SMOTE:", y_train.value_counts())
print("Después del SMOTE:", y_train_res.value_counts())

# Entrenar modelo
model_smote = LogisticRegression(max_iter=1000)
model_smote.fit(X_train_res, y_train_res)

# Evaluar
y_pred = model_smote.predict(X_test)
print(classification_report(y_test, y_pred, zero_division=0))

Antes del SMOTE: children
0    38917
1     3467
Name: count, dtype: int64
Después del SMOTE: children
0    38917
1    38917
Name: count, dtype: int64
              precision    recall  f1-score   support

           0       0.93      0.50      0.65      9730
           1       0.09      0.55      0.16       867

    accuracy                           0.51     10597
   macro avg       0.51      0.53      0.40     10597
weighted avg       0.86      0.51      0.61     10597

### Archivo de Prueba

In [16]:
import pandas as pd
from datetime import datetime

# Cargar nuevo CSV
df_nuevo = pd.read_csv('./data/hoteles-prueba.csv')

In [17]:
# Rellenar nulos en country
df_nuevo['country'] = df_nuevo['country'].fillna('Unknown')

# Convertir fecha
df_nuevo['arrival_date'] = pd.to_datetime(df_nuevo['arrival_date'], format='%Y-%m-%d')
df_nuevo['arrival_month'] = df_nuevo['arrival_date'].dt.month

# Seleccionar las mismas columnas predictoras que usaste
X_new = df_nuevo[['lead_time','stays_in_weekend_nights','stays_in_week_nights',
                  'adults','arrival_month','hotel','meal']]

# Codificar categóricas igual que antes
X_new = pd.get_dummies(X_new, drop_first=True)

# Alinear columnas con las del modelo entrenado
X_new = X_new.reindex(columns=X.columns, fill_value=0)

In [18]:
# Probabilidades
probs = model_smote.predict_proba(X_new)[:,1]  # probabilidad de clase 1 (con niños)

In [19]:
# Crear DataFrame de salida
df_salida = pd.DataFrame({
    'id': df_nuevo['id'],
    'prob': probs
})
df_salida.head()

   id      prob
0   1  0.506519
1   2  0.525687
2   3  0.331220
3   4  0.525687
4   5  0.528959

In [20]:
fecha = datetime.now().strftime('%y%m%d')  # formato yy_mm_dd
nombre_archivo = f'./data/Salida_{fecha}.csv'

df_salida.to_csv(nombre_archivo, index=False)
print(f'Se guardó el archivo: {nombre_archivo}')

Se guardó el archivo: ./data/Salida_250928.csv