In [2]:
import pandas as pd
path_data_dir = "../../data/" 
train_data_file = path_data_dir + "hoteles-entrena.csv" 
test_data_file = path_data_dir + "hoteles-prueba.csv"
#train data reanding
train_data = pd.read_csv(train_data_file, sep=",")
train_data

,hotel,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,meal,country,market_segment,distribution_channel,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,average_daily_rate,required_car_parking_spaces,total_of_special_requests,arrival_date
0,Resort_Hotel,342,0,0,2,none,BB,PRT,Direct,Direct,...,3,No_Deposit,NaN,NaN,0,Transient,0.00,none,0,2015-07-01
1,Resort_Hotel,737,0,0,2,none,BB,PRT,Direct,Direct,...,4,No_Deposit,NaN,NaN,0,Transient,0.00,none,0,2015-07-01
2,Resort_Hotel,7,0,1,1,none,BB,GBR,Direct,Direct,...,0,No_Deposit,NaN,NaN,0,Transient,75.00,none,0,2015-07-01
3,Resort_Hotel,13,0,1,1,none,BB,GBR,Corporate,Corporate,...,0,No_Deposit,304.0,NaN,0,Transient,75.00,none,0,2015-07-01
4,Resort_Hotel,14,0,2,2,none,BB,GBR,Online_TA,TA/TO,...,0,No_Deposit,240.0,NaN,0,Transient,98.00,none,1,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52976,City_Hotel,23,2,5,2,none,BB,BEL,Offline_TA/TO,TA/TO,...,0,No_Deposit,394.0,NaN,0,Transient,96.14,none,0,2017-08-30
52977,City_Hotel,102,2,5,3,none,BB,FRA,Online_TA,TA/TO,...,0,No_Deposit,9.0,NaN,0,Transient,225.43,none,2,2017-08-31
52978,City_Hotel,34,2,5,2,none,BB,DEU,Online_TA,TA/TO,...,0,No_Deposit,9.0,NaN,0,Transient,157.71,none,4,2017-08-31
52979,City_Hotel,109,2,5,2,none,BB,GBR,Online_TA,TA/TO,...,0,No_Deposit,89.0,NaN,0,Transient,104.40,none,0,2017-08-31
52980,City_Hotel,205,2,7,2,none,HB,DEU,Online_TA,TA/TO,...,0,No_Deposit,9.0,NaN,0,Transient,151.20,none,2,2017-08-29

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Convert 'children' to binary: 1 if there are children, 0 otherwise
train_data['has_children'] = train_data['children'].apply(lambda x: 0 if x in ['0', 0, 'none', None, 'NaN', 'nan'] else 1)

# Select features (excluding 'children' and other non-numeric columns for simplicity)
features = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'average_daily_rate', 'total_of_special_requests']
X = train_data[features]
y = train_data['has_children']

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit logistic regression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

# Predict and print report
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.99      0.96      9716
           1       0.46      0.07      0.12       881

    accuracy                           0.92     10597
   macro avg       0.69      0.53      0.54     10597
weighted avg       0.88      0.92      0.89     10597

In [4]:
# Predict on test set
test_predictions = model.predict(X_test)

# Prepare submission DataFrame
submission = pd.DataFrame({
    'id': X_test.index,
    'has_children': test_predictions
})

# Save to CSV
submission.to_csv("../../data/submission-sample_1.csv", index=False)